<div class="main">
    <!-- <div class="btn-group">
        <button class="btn" (click)="onGridView()">
            <img class="img" src="\assets\GridView.png" alt="Grid View" />
        </button>
        <button class="btn" (click)="onListView()">
            <img class="img" src="\assets\ListView.png" alt="Grid View" />
        </button>
    </div> -->
<!-- <ng-container *ngIf="isGridView === true">   -->
<app-view-content></app-view-content>
<!-- </ng-container> -->
<!-- <ng-container *ngIf="isListView === true">
<app-list-view></app-list-view>
</ng-container> -->
</div>